/* You can add global styles to this file, and also import other style files */

body{
    background-color: #5f5f5f;
}

#JavaTable th, td{
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align:center;
}

#JavaTable {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    background-color: yellowgreen;
}

#screen {
    display: flex;
    flex-wrap: nowrap;

}

#prog{
    width: 50%;
    margin: 10px;
}

#JavaTableDiv{
    min-width: 300px;
}


#buttons{
    width: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33% ;
}

#buttons button{
    width: 70px ;
    height: 70px;
}

/* #buttons :first-child{

    width: 100px ;
    height: 100px;
} */

#buttons p{
    width: 70px;
    height: 70px;
    margin: 0%;
}

