.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#resume{
  font-size: 45px;
}

.justify-self-center-custom{
  display: grid;
  justify-self: center;
}

#B1{
  display: flex;
  justify-self: center;
  margin-left: 100px;
  font-size: 25px;
}

.img-size-custom{
  height: 500px;
  object-fit: cover;
}

.themeable {
  transition: all 0.3s ease-in-out;
}


.labelBackground{
  background-color: #212529a6;
  /* right: auto; */
  width: 20%;
  bottom: 2rem;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-invert{
  backdrop-filter: brightness(60%);

}