.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.justify-self-center-custom{
  display: grid;
  justify-self: center;
}

#B1{
  display: flex;
  justify-self: center;
  margin-left: 100px;
  font-size: 25px;
}

.img-size-custom{
  height: 500px;
  object-fit: cover;
}

.theme_change_light{
  background-color: rgb(255, 247, 236);
  color: #212529;
}

.theme_change_dark{
  background-color: #212529;
  color:  rgb(255, 247, 236);
}

.themeable {
  transition: all 0.3s ease-in-out;
}


.labelBackground{

  right: auto;
  width: 20%;
  bottom: 2rem;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
